<footer class="bg-primary text-white pt-3 pb-3 footer">
    <div style="width: max-content; margin-left: auto; margin-right: auto;">
        <ul class="mt-3">
            <li class="nav-item">
                <a [routerLink]="['Politicas']">Politicas de uso GMovil</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['Ayuda']">Contacto</a>
            </li> -->
        </ul>
        <div class="mt-2">
            <img style="width: 50px; margin-right: 2vh;"
                src="https://firebasestorage.googleapis.com/v0/b/claudia-32bd6.appspot.com/o/paypal.png?alt=media&token=fa92739c-983b-4f7d-9e07-e7fee74c105f">
            <img style="width: 60px; margin-right: 2vh;"
                src="https://firebasestorage.googleapis.com/v0/b/claudia-32bd6.appspot.com/o/mercado%20pago.png?alt=media&token=04bbef69-6062-4d2a-b63b-37dbc9a58006">
            <img style="width: 70px;"
                src="https://firebasestorage.googleapis.com/v0/b/claudia-32bd6.appspot.com/o/visa.png?alt=media&token=59a6904e-90f6-4dce-aaf5-43d4e78d0c0b">
        </div>
    </div>
    <p class="direccion">Copyright ©2021 Autor <a href="https://www.facebook.com/omar.garrido.585">@Omar Garrido
            Mora</a></p>
    <p class="direccion">
        <a href="https://wa.me/525512220347?text=Quiero%20mas%20informacion"><i
                class="fab fa-whatsapp"></i>5532736832</a>
        <a href="mailto:GMovil@support.com"><i class="far fa-envelope ms-3"></i>GMovil@support.com</a>
    </p>
    <p class="direccion">
        <small class="text-muted">
            <a href="https://goo.gl/maps/7Dayou2tY2GRVFsc7">
                Insurgentes Sur 1602 Piso 9 Suite 900, Crédito Constructor Benito Juarez, 03940 Ciudad de
                México, CDMX, Mexico
            </a>
        </small>
    </p>
</footer>