ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.direccion {
    padding: 10px 0px 0px;
    text-align: center;
    margin: 0;
}
/* .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
} */