<footer class="bg-primary text-white pt-3 pb-3">
    <div class="">
        <ul>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Politicas']">Politicas de Privacidad</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['Ayuda']">Centro de Soluciones</a>
            </li> -->
        </ul>
    </div>
    <p class="direccion">Copyright ©2021 Autor <a href="https://www.facebook.com/omar.garrido.585">@Omar Garrido
            Mora</a></p>
    <p class="direccion">
        <small class="text-muted">
            <a href="https://goo.gl/maps/7Dayou2tY2GRVFsc7">
                Insurgentes Sur 1602 Piso 9 Suite 900, Crédito Constructor Benito Juarez, 03940 Ciudad de
                México, CDMX, Mexico
            </a>
        </small>
    </p>
</footer>