<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <a [routerLink]="['Inicio']">
    <img class="navbar-brand mb-2" style="width: 200px;"
      src="https://fontmeme.com/permalink/210424/67fbe406248fc7f82344efafd26b5ccb.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto mr-3">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Inicio']">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Compras']">Mis Compras</a>
      </li>
    </ul>
    <div class="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a class="btn btn-success">Iniciar Sesion</a></li>
        <li class="nav-item active"><a class="btn btn-info ml-3">Restrate</a></li>
      </ul>
    </div>
  </div>
</nav>