<div>
    <div class="card mt-5 mb-5" style="margin-right: auto; margin-left: auto; width: 60vw;">
        <div *ngFor="let mochila of articulos" class="card-body"
            style="margin-right: auto; margin-left: auto; display: flex; border-bottom: inset; flex-wrap: wrap;">
            <img [src]="mochila.producto.url" style="width: 10vw; height: 20hw; margin-right: 1rem;">
            <p style="margin-right: 1rem; margin-bottom: auto; width: 25rem; margin-top: auto;">
                {{mochila.producto.modelo}} <strong>{{mochila.producto.genero}}</strong></p>
            <h4 style="font-weight: bold; margin-left: auto; margin-bottom: auto; width: 10vw; margin-top: auto;">
                Precio:
                ${{mochila.producto.precio|number}}
                <span class="text-muted" style="font-size: .8rem;"> x{{mochila.cantidad|number}}pzs</span>
            </h4>
        </div>
        <h4 style="font-weight: bold; text-align: end; margin-right: 5rem;">
           Total: ${{pedidos.precioTotal|number}}.00
        </h4>

        <div style="margin-left: auto; margin-right: auto; margin-bottom: 2rem;">
            <button class="mt-3 btn btn-info" style="border-radius: 70px; width: 20vw;" [routerLink]="['Inicio']">Seguir
                Comprando</button>
            <button class="mt-3 btn btn-success" style="border-radius: 70px; width: 20vw; margin-left: 2rem;"
                (click)="nuevo(content)">Comprar</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title mx-auto" id="modal-basic-title">Metodos de Pago</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <button (click)="collapse.toggle()">mostrar</button> -->
        <div>
            <div (click)="collapse.toggle()" (click)="validarPago()" class="card border-secondary btn"
                style="display: flex; flex-direction: row;">
                <img style="width: 2.5rem;"
                    src="https://firebasestorage.googleapis.com/v0/b/claudia-32bd6.appspot.com/o/visa.png?alt=media&token=59a6904e-90f6-4dce-aaf5-43d4e78d0c0b"
                    alt="">
                <p style="margin-left: 1rem; font-size: large;">Tarjeta de Credito/Debito</p>
            </div>

        </div>

        <div class="card border-secondary" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="form-group">
                <strong><label for="">Numero de Tarjeta</label></strong>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <strong><label for="">Nombre y Apellidos</label></strong>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <strong><label for="">Fecha expiracion</label></strong>
                <input type="date" class="form-control">
            </div>

            <div class="form-group">
                <strong><label for="">Codigo de Seguridad</label></strong>
                <input type="text" class="form-control">
            </div>
        </div>
        <a href="https://www.paypal.com/mx/signin" (click)="validarPago()" target="_blank">
            <div class="card border-secondary btn" style="display: flex; flex-direction: row;">
                <img style="width: 2.5rem;"
                    src="https://firebasestorage.googleapis.com/v0/b/claudia-32bd6.appspot.com/o/paypal.png?alt=media&token=fa92739c-983b-4f7d-9e07-e7fee74c105f"
                    alt="">
                <p style="margin-left: 1rem; font-size: large;">Paypal</p>
            </div>
        </a>
        <a target="_blank" (click)="validarPago()"
            href="https://www.mercadolibre.com/jms/mlm/lgz/msl/login/H4sIAAAAAAAEAy2NwQrDIBAF_-WdJbl77I_IYlYjdbuiG0wJ_fcS2uPAMHOhai6vYO_G8OCz1RKLwaFVsqRdQtngIQ0Ooxj_scqtUCdh4z7grzuUeXtw0n6nEtXBcKDD9pCqTvjfCw5Z4bGbteHXdc65CPdImzbKukSVRc4VH4dEw4J1ik946wd_vu7GbRCvAAAA/user">
            <div class="card border-secondary btn" style="display: flex; flex-direction: row;">

                <img style="width: 2.5rem;"
                    src="https://firebasestorage.googleapis.com/v0/b/claudia-32bd6.appspot.com/o/mercado%20pago.png?alt=media&token=04bbef69-6062-4d2a-b63b-37dbc9a58006"
                    alt="">
                <p style="margin-left: 1rem; font-size: large;">Paypal</p>
            </div>
        </a>


    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="pagado" class="btn btn-success" (click)="comprar()">Comprar</button>
    </div>
</ng-template>