<div style="padding: 3rem;">
    <img class="mx-auto" style="width: 40vw; display: block;"
        src="https://fontmeme.com/permalink/210424/67fbe406248fc7f82344efafd26b5ccb.png">
    <div style="padding: 3rem;">
        <h3>Historia</h3>
        <p>
            Es una tienda de comercio electrónico que vende la mejor tecnología en celulares y accesorios nació de la
            idea
            de
            dos
            compañeros que hartos de que las empresas dieran a sobre precio los celulares o te los dieran con plan
            forzoso
            que
            igualmente te lo daban carísimo decidieron un 09/06/2021 desarrollar su propia página web de venta de
            celulares
            y
            accesorios a los que llamaron GMovil una página de venta de Smartphones con lo que pretenden llevar mejores
            precios
            de
            calidad con equipos de categoría.
        </p>
        <h3>Valores</h3>
        <p>Sabemos que el tener una relación directa con los clientes puede variar totalmente por las distintas formas
            de
            comportamiento de ellos, por tanto, la tolerancia y la transparencia es un valor muy presente para tratar a
            todos
            nuestros clientes con respeto, así como el orden, excelencia y calidad tanto del servicio como de los
            productos
            y el
            sentido de permanencia para que siempre exista una comodidad tanto de clientes como de empleados.</p>
        <h3>Visión</h3>
        <p>
            Lograr ser reconocidos a nivel nacional e incluso internacional por la creación de nuestro sitio web,
            alcanzando
            y
            marcando diferencia competitiva con otros sitios por la calidad de los demás productos, así como del
            servicio
            dentro
            de
            nuestra página.
        </p>
        <h3>Filosofía</h3>
        <p>
            GMovil está comprometido a dar a nuestros clientes el mejor servicio con productos de alta calidad e
            innovadores
            con
            un
            ambiente de tranquilidad y armonía.
        </p>
    </div>
</div>