<h3 *ngIf="usuario.rol!='admin'" style="text-align: center; ">Necesitas una cuenta de admin para esta pagina!!</h3>

<div *ngIf="usuario.rol=='admin'">
    <div style="text-align: center;">
        <table class="table table-hover" style="min-height: 57.7vh;">
            <thead>
                <tr class="table-primary">
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Descripcion</th>
                    <!-- <th>Procesador</th>
                    <th>Camara</th>
                    <th>Almacenamiento</th> -->
                    <th>Precio</th>
                    <th>Existencias</th>
                    <th>Calificacion</th>
                    <th>Operiaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table" *ngFor="let item of array">
                    <td>{{item.marca}}</td>
                    <td style="text-transform: capitalize; text-align: justify;"><img class="img-fluid" [src]="item.url"
                            style="width: 50px;   margin-right: 1rem;">{{item.modelo}}</td>
                    <td>
                        <p class="descripcion">{{item.descripcion}}</p>
                    </td>
                    <!-- <td>{{item.procesador}}</td>
                    <td><p class="descripcion">{{item.camara}}</p></td>
                    <td>{{item.almacenamiento}}</td> -->
                    <td>${{item.precio|number}}</td>
                    <td>{{item.existencias|number}}</td>
                    <td>{{item.calificacion}}</td>
    
                    <td>
                        <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                        <button type="button" class="btn btn-primary"
                            (click)="editar(content,content2,item)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    
        <!-- Todo esto es el html del Modal (ventana emergente) -->
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Crear/Actualizar Smartphone</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <form [formGroup]="SmartphoneForm">
                            <div class="form-group">
                                <strong><label for="">Marca</label></strong>
                                <input type="text" formControlName="marca" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Modelo</label></strong>
                                <input type="text" formControlName="modelo" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Descripcion</label></strong>
                                <textarea formControlName="descripcion" class="form-control"></textarea>
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Procesador</label></strong>
                                <input type="text" formControlName="procesador" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Camara</label></strong>
                                <input type="text" formControlName="camara" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Almacenamiento</label></strong>
                                <input type="text" formControlName="almacenamiento" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Precio</label></strong>
                                <input type="number" formControlName="precio" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Existencia</label></strong>
                                <input type="number" formControlName="existencias" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Etiqueta</label></strong>
                                <input type="text" formControlName="etiqueta" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Calificacion</label></strong>
                                <input type="number" max="5" formControlName="calificacion" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <input class="form-control" type="hidden" [value]="urlImage|async" formControlName="url">
                                <label><strong>Selecciona una imagen</strong></label>
                                <input type="file" accept=".jpeg,.png,.jpg" (change)="onUpload($event)">
                            </div>
    
                            <div class="progress form-group">
                                <div class="progress-bar progressbar-striped bg-success" role="progressbar"
                                    [style.width]="(uploadPercent|async)+'%'"></div>
    
                            </div>
                        </form>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="updSave==false && urlImage|async as url" type="button" class="btn btn-success"
                    (click)="guardarSmartphone(url)">Guardar</button>
                <button *ngIf="updSave==true && urlImage|async as url" type="button" class="btn btn-info"
                    (click)="actualizarSmartphone(url)">Actualizar</button>
            </div>
        </ng-template>
    
    
        <ng-template #content2 let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Crear/Actualizar Accesorio</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <form [formGroup]="accesorioForm">
                            <div class="form-group">
                                <strong><label for="">Marca</label></strong>
                                <input type="text" formControlName="marca" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Modelo</label></strong>
                                <input type="text" formControlName="modelo" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Descripcion</label></strong>
                                <textarea formControlName="descripcion" class="form-control"></textarea>
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Precio</label></strong>
                                <input type="number" formControlName="precio" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Existencia</label></strong>
                                <input type="number" formControlName="existencias" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Etiqueta</label></strong>
                                <input type="text" formControlName="etiqueta" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <strong><label for="">Calificacion</label></strong>
                                <input type="number" max="5" formControlName="calificacion" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <input class="form-control" type="hidden" [value]="urlImage|async" formControlName="url">
                                <label><strong>Selecciona una imagen</strong></label>
                                <input type="file" accept=".jpeg,.png,.jpg" (change)="onUpload($event)">
                            </div>
    
                            <div class="progress form-group">
                                <div class="progress-bar progressbar-striped bg-success" role="progressbar"
                                    [style.width]="(uploadPercent|async)+'%'"></div>
    
                            </div>
                        </form>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="updSave==false && urlImage|async as url" type="button" class="btn btn-success"
                    (click)="guardarAccesorio(url)">Guardar</button>
                <button *ngIf="updSave==true && urlImage|async as url" type="button" class="btn btn-info"
                    (click)="actualizarAccesorio(url)">Actualizar</button>
            </div>
        </ng-template>
    
        <button type="button" class="btn btn-primary" (click)="nuevo(content)">Añadir Nuevo Smartphone</button>
        <button type="button" class="btn btn-danger" (click)="nuevo(content2)"> Añadir nuevo Accesorio</button>
    
    </div>
</div>